@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serrif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;/*viewport height*/
    background-color: darkgray;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;/*espaçamento emtre as linhas*/
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.9vw;
}
section > p{
    padding-bottom: 2em;
}
section.image > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.363);
    text-shadow: 1px 1px 0px black;
}
section.normal{
    background-color: white;
    /*padding: 5px;*/
    color: rgb(0, 0, 0)
}
section.image{
    background-color: rgb(72, 72, 72);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.429);
    background-size: cover;
    background-attachment: fixed;
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right bottom;
}
footer{
    background-color: black;
    color: white;
    font-size: 2.3vw;
    text-align: center;
    padding: 10px;
}


    
