@charset "UTF-8";

/*todas as demais medias*/

/*Typical Device Breakpoints

----------------------------

pequenas telas: até 600px
celular: 600px - 768px
tablet: 768px - 992px
dektop: 992px - 1200px
grandes telas: acima de 1200px

*/
* {
    font-family: 'Courier New', Courier, monospace;
}
@media print {
    body{
        background-image: url(../imagens/back-print.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}

    main{
        border: 2px solid black;
    }
    main::after{
        content: 'Essa impressão foi feita atraves do site bla.com';
        text-decoration: overline;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {/*dektop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}
@media screen and (min-width: 1200px) {/*grandes telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
}