@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
} 
html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;/*conter imagem inteira na tela*/
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 3px 3px 0px #12208c;
    padding: 10px;
}